.watchlist-editor-container {
  width: fit-content;
  margin: auto;
  padding: 20px;

  input,
  textarea {
    width: 100%;
  }

  textarea {
    height: 200px;
  }
}

.watchlist-editor-prompt {
  font-size: 22px;
  text-align: center;
}

.watchlist-option-controls {
  margin: auto;
  width: fit-content;
}

.watchlist-option {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  background: rgb(62, 85, 134);

  &:hover {
    background: rgb(82, 105, 154);
  }
}
