.movie-info {
  padding: 10px;
  margin: 10px;
  /* border-bottom: solid 1px #555; */
  border-left: solid 3px #ccc;

  .sub-category {
    display: inline-block;
    margin-left: 6px;
    font-size: 12px;
    font-style: italic;
  }

  .category-order {
    display: inline-block;
    color: #888;
    margin-left: 6px;
    font-size: 12px;
    font-style: italic;
  }

  .movie-header {
    display: flex;
  }

  .movie-header .col {
    margin-right: 10px;
  }

  .movie-title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 3px;
  }

  .movie-year {
    font-size: 14px;
    margin-left: 4px;
    font-weight: normal;
  }

  .published-date {
    font-size: 11px;
    font-style: italic;
    color: #ccc;
  }

  .my-rating {
    font-size: 14px;
    margin-top: 6px;
  }

  .content-block {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;

    &.complex {
      margin-left: 6px;
    }

    figure {
      text-align: center;
    }
  }

  img.thumb {
    width: 130px;
    height: 100px;
    cursor: pointer;
  }
}

.category {
  color: white;
  padding: 4px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.category.genres {
  background-color: #6a6a6e;
}

.category.march_madness {
  background-color: #243199;
}

.category.randomizer {
  background-color: #703869;
}

.category.gamera {
  background-color: #2a9441;
}

.category.nov_dec_2020 {
  background-color: #194a81;
}

.category.halloween_2020 {
  background-color: #eb5f1f;
}

.category.finish_the_series_horror {
  background-color: #6a047c;
}

.category.decades_of_horror {
  background-color: #b6a511;
}
