.migrater {
  label {
    color: #ccc;
    font-style: italic;
  }

  .MuiInputBase-root {
    margin-right: 20px;
  }

  .MuiSelect-root.MuiSelect-select {
    color: white;
  }

  svg {
    color: white;
  }
}
