.home {
  .home-background {
    height: calc(100vh - 50px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://einysrentals.files.wordpress.com/2020/08/img_20200725_231634.jpg");
    filter: blur(6px);
  }

  .home-content {
    position: absolute;
    color: white;
    font-weight: bold;
    // border: 3px solid #f1f1f1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
    width: calc(100% - 40px);
    padding: 20px;
    max-height: calc(100vh - 90px);
    overflow: visible;
    overflow-y: auto;
  }

  a {
    color: white;
    display: block;
  }

  .previews {
    // width: 1200px;
    // margin: 0 auto;

    .preview {
      display: inline-block;
      cursor: pointer;
      height: 160px;
      width: 200px;
      margin: 20px;

      &:hover {
        filter: brightness(1.25);
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .section-header {
    font-size: 24px;
    margin-bottom: 20px;

    .name {
      display: inline-block;
    }

    .refresh-previews {
      display: inline-block;
      position: relative;
      margin-left: 10px;
      cursor: pointer;

      svg {
        position: absolute;
        bottom: -4px;
      }

      &:hover {
        filter: brightness(1.25);
      }
    }
  }

  .featured {
    .featured-card {
      overflow: hidden;
      position: relative;
      box-shadow: 4px 4px 12px #000;

      .featured-card-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        text-shadow: 1px 1px #222;
      }

      .featured-card-backsplash {
        opacity: 0.4;
        width: 100%;
        height: 100%;
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
        -webkit-mask-image: linear-gradient(
          to bottom,
          black 30%,
          transparent 100%
        );

        img {
          height: 100%;
          width: 100%;
        }
      }

      &.halloween_2020 {
        // background: linear-gradient(
        //   to bottom,
        //   rgb(221, 110, 31) 20%,
        //   rgb(131, 64, 15) 100%
        // );
        border: solid 2px rgb(131, 64, 15);
      }

      &.march_madness {
        // background: linear-gradient(
        //   to bottom,
        //   rgb(65, 34, 148) 20%,
        //   rgb(35, 19, 77) 100%
        // );
        border: solid 2px rgb(35, 19, 77);
      }

      &.genres {
        // background: linear-gradient(
        //   to bottom,
        //   #6a6a6e 20%,
        //   #4a4a4e 100%
        // );
        border: solid 2px #4a4a4e;
      }

      &.randomizer {
        // background: linear-gradient(
        //   to bottom,
        //   #703869 20%,
        //   #501849 100%
        // );
        border: solid 2px #501849;
      }

      &.gamera {
        // background: linear-gradient(
        //   to bottom,
        //   #2a9441 20%,
        //   #0a7421 100%
        // );
        border: solid 2px #0a7421;
      }

      &.nov_dec_2020 {
        // background: linear-gradient(
        //   to bottom,
        //   #194a81 20%,
        //   #092a61 100%
        // );
        border: solid 2px #092a61;
      }

      &.finish_the_series_horror {
        // background: linear-gradient(
        //   to bottom,
        //   #6a047c 20%,
        //   #4a005c 100%
        // );
        border: solid 2px #4a005c;
      }

      &.decades_of_horror {
        // background: linear-gradient(
        //   to bottom,
        //   #b6a511 20%,
        //   #3c4b22 100%
        // );
        border: solid 2px #294429;
      }

      &.finish_the_series_non_horror {
        // background: linear-gradient(
        //   to bottom,
        //   #6a047c 20%,
        //   #4a005c 100%
        // );
        border: solid 2px #3c9682;
      }

      &:hover {
        filter: brightness(1.25);
      }
    }

    a {
      height: 160px;
      width: 200px;
      //   border: solid 1px #333;
      border-radius: 2px;
      margin: 20px;
      text-align: center;
      // background-color: #335;
      // background: transparent;
      background-color: black;
      text-decoration: none;
    }

    .featured-preview {
      font-size: 20px;
      border-bottom: solid 1px #bbb;
      width: calc(100% - 20px);
      margin: 8px auto;
    }

    .date {
      font-weight: 100;
      font-size: 14px;
      margin-top: 10px;
      opacity: 0.8;
    }

    .featured-number {
      font-size: 12px;
      font-weight: 100;
      opacity: 0.7;
    }
  }
}
