.footer {
  // position: sticky;
  // bottom: 0;
  background: #333;
  border-top: solid 1px #fff;

  .links {
    padding: 10px 0;
    width: fit-content;
    margin: auto;

    .full {
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    .condensed {
      display: flex;

      @media only screen and (min-width: 601px) {
        display: none;
      }

      a {
        color: white;
      }

      svg {
        margin: 0 10px;
      }
    }

    .link {
      margin: 0 10px;
      border-radius: 3px;
      padding: 3px 10px;

      &:hover {
        background: rgb(62, 85, 134);
      }

      a {
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-shadow: 1px 1px 2px #222;
        text-decoration: none;
      }
    }

    .divider {
      border-left: solid 1px #ccc;
    }
  }
}

.MuiDrawer-root.MuiDrawer-modal {
  ul {
    padding: 0;

    li {
      border-bottom: solid 1px #777;
      background: #333;
      text-align: center;
  
      .link {
        width: 100%;
  
        a {
          color: white;
          text-decoration: unset;
        }
      }
    }
  }
}
