.sub-categorized {
  .week {
    .header {
      margin-bottom: 10px;
      position: relative;
      display: flex;

      .title {
        font-size: 28px;
        padding: 12px;
        font-weight: 400;
      }

      .week-info {
        line-height: 30px;
        margin-left: 30px;
      }

      .summary-link {
        margin-left: 30px;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        padding-top: 36px;
      }

      .header-content {
        position: absolute;
        display: flex;
        text-shadow: 0px 0px #888;
      }

      .header-bg {
        display: flex;
        opacity: 0.3;
        display: flex;
        mask-image: linear-gradient(to right, black 0%, transparent 80%);
        -webkit-mask-image: linear-gradient(
          to right,
          black 0%,
          transparent 80%
        );

        img {
          height: 70px;
          width: 100px;
        }
      }
    }
  }

  .movie-card {
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: solid 1px #333;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #222;
    height: 220px;
    cursor: pointer;
    margin: 12px 6px !important;
    position: relative;

    &:hover {
      filter: brightness(1.25);
    }

    .movie-year {
      position: absolute;
      bottom: 4px;
      left: 4px;
      font-size: 12px;
      color: #bbb;
    }

    .movie-watched {
      position: absolute;
      bottom: 4px;
      right: 4px;
      font-size: 12px;
      color: #bbb;
    }

    img {
      height: 132px;
      width: 182px;
    }

    .movie-title {
      text-align: center;
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .movie-list {
    max-width: 1100px;
    margin: 20px auto;

    &.official {
      // background-color: #444;
      border-radius: 4px;
      background: linear-gradient(to bottom, #444 20%, #333 60%);
      border: solid 2px #444;

      // .movie-card {
      //   // background-color: #222;
      //   // mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
      //   // background-color: linear-gradient(
      //   //   to bottom,
      //   //   #999 30%,
      //   //   #222 100%
      //   // );
      // }
    }
  }

  .week.sci-fi .header {
    background-color: #2a5;
  }

  .week.the-90s .header {
    background-color: rgb(103, 6, 116);
    color: rgb(155, 218, 238);
  }

  .week.japanese-horror .header {
    background-color: rgb(255, 255, 255);
    color: rgb(172, 27, 14);
  }

  .week.al-adamson .header {
    background-color: rgb(107, 60, 41);
  }

  .week.universal-horror .header {
    background-color: rgb(46, 46, 46);
  }

  .week.supernatural .header {
    background-color: rgb(63, 20, 57);
  }

  .week.the-80s-slashers .header {
    background-color: rgb(68, 14, 14);
  }

  .week.italian-giallo .header {
    background-color: rgb(236, 234, 92);
    color: black;
  }

  .week.vincent-price .header {
    background-color: rgb(236, 106, 19);
    color: black;
  }

  .week.godzilla .header {
    background-color: #2a5;
  }

  .week.exploitation .header {
    background-color: rgb(82, 17, 62);
  }

  .week.horror-pack .header {
    background-color: rgb(9, 46, 80);
  }

  .week.paul-naschy .header {
    background-color: rgb(56, 8, 52);
  }

  .week.giallo .header {
    background-color: rgb(253, 249, 30);
    color: black;
  }

  .week.crime-and-action .header {
    background-color: rgb(8, 17, 51);
  }

  .week.random-sequels .header {
    background-color: rgb(94, 12, 69);
  }

  .week.sci-fi-cheese .header {
    background-color: rgb(7, 77, 24);
  }

  .week.horror-docs .header {
    background-color: rgb(66, 49, 38);
  }

  .week.westerns .header {
    background-color: rgb(175, 173, 32);
  }

  .week.the-90s-vhs .header {
    background-color: rgb(68, 12, 98);
  }

  .week.dvd-horror .header {
    background-color: rgb(42, 90, 67);
  }

  &.nov_dec_2020 {
    .week {
      .movie-list {
        max-width: 1100px;
        margin: 20px auto;

        &.official {
          background: none;

          .movie-card {
            background-color: #777;
          }
        }
      }
    }
  }
}

.week-summary {
  padding: 40px;
  font-size: 18px;
  color: white;
  font-weight: 300;

  li {
    padding: 20px 0 0 12px;
  }

  li:last-of-type {
    margin-bottom: 30px;
  }
}
