.movie-info {
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 4px;
  margin: 10px;
  /* border-bottom: solid 1px #555; */
  // border-left: solid 3px #ccc;

  background: #333;
  box-shadow: 1px 2px 3px #000;

  .my-rating {
    display: inline-block;
    // border: solid 2px #ccc;
    border-radius: 4px;
    // padding: 2px 3px 2px 3px;
    padding: 4px 6px 4px 6px;
    margin-right: 6px;
    font-weight: 600;

    &.rating_90,
    &.rating_85,
    &.rating_80 {
      background: #2b962b;
    }

    &.rating_75,
    &.rating_70 {
      background: #42c442;
    }

    &.rating_65,
    &.rating_60 {
      background: #bebc2a;
    }

    &.rating_55,
    &.rating_50,
    &.rating_45 {
      background: #d89d1e;
    }

    &.rating_40,
    &.rating_35 {
      background: #c44910;
    }

    &.rating_30,
    &.rating_25,
    &.rating_20 {
      background: #a11b16;
    }
  }

  .sub-category {
    display: inline-block;
    margin-left: 6px;
    font-size: 12px;
    font-style: italic;
  }

  .category-order {
    display: inline-block;
    color: #888;
    margin-left: 6px;
    font-size: 12px;
    font-style: italic;
  }

  .movie-header {
    display: flex;
  }

  .movie-header .col {
    margin-right: 10px;
  }

  .movie-title {
    font-size: 22px;
    font-weight: 600;
    margin-top: 3px;
  }

  .movie-year {
    font-size: 14px;
    margin-left: 4px;
  }

  .movie-runtime {
    font-size: 12px;
    margin-left: 8px;
    font-weight: normal;
    color: #ccc;
  }

  .published-date {
    font-size: 11px;
    font-style: italic;
    color: #ccc;
  }

  // .my-rating {
  //   font-size: 14px;
  //   margin-top: 6px;
  // }

  .movie-content {
    display: none;

    .content-block {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;

      &.complex {
        margin-left: 6px;
      }

      figure {
        text-align: center;
      }
    }
  }

  img.thumb {
    width: 130px;
    height: 100px;
    cursor: pointer;
  }
}

.category {
  color: white;
  padding: 4px;
  display: inline-block;
  border-radius: 3px;
  // cursor: pointer;
}

.category.genres {
  background-color: #6a6a6e;
}

.category.march_madness {
  background-color: #243199;
}

.category.randomizer {
  background-color: #703869;
}

.category.gamera {
  background-color: #2a9441;
}

.category.nov_dec_2020 {
  background-color: #194a81;
}

.category.halloween_2020 {
  background-color: #eb5f1f;
}

.category.finish_the_series_horror {
  background-color: #6a047c;
}

.category.decades_of_horror {
  background-color: #b6a511;
}

.category.finish_the_series_non_horror {
  background-color: #3c9682;
}

.category.genre_sampler {
  background-color: #b62f6e;
}

.category.halloween_2021 {
  background-color: rgb(160, 37, 0);
}

.category.days_of_listmas {
  background-color: rgb(49, 102, 35);
}

.category.blood {
  background-color: rgb(150, 40, 40);
}
